.create-post-page {
  height: 100vh;
  background-color: rgb(18, 18, 18);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;

    #create-page-header {
      font-size: 2rem;
      font-weight: 500;
      color: rgb(95, 170, 255);
    }

    .upload-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      #post-image-input-field {
        padding: 10rem 10rem;
        border: 2px dashed rgb(150, 150, 150);
        border-radius: 0.5rem;
        color: rgba(112, 128, 144, 0.514);
      }

      #post-caption-field {
        width: 100%;
        padding-block: 0.5rem;
        padding-inline: 0.4rem;
        background: transparent;
        border: none;
        border: 2px solid slategrey;
        border-radius: 0.6rem;
        color: rgb(228, 227, 227);
        outline: none;
      }

      #post-button {
        padding: 0.5rem 2rem;
        border-radius: 0.2rem;
        border: none;
        background-color: rgb(95, 170, 255);
        color: rgb(48, 48, 48);
        cursor: pointer;

        transition: all 0.3s ease;
      }

      #post-button:hover {
        transform: translateY(-2px);
      }
    }
  }
}
